.searchbar {
  margin-bottom: 2rem;
  margin-top: 60px;
  align-content: center;
  width: 100px;
}

.name {
  height: 70px;
}
.button2 {
  margin-bottom: 2rem;
  position: absolute;
  left: 88%;
}

@media only screen and (max-width: 768px) {
  .button2 {
    left: 83%;
  }
}
